.sidebar {
    background-color: mintcream;
    margin-top: 15px;
    /* IE 5-9 Compatability */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    filter: alpha(opacity=95);
    opacity: .95;
}

@media only screen and (min-width: 992px) {
    .sidebar {
        margin-right: 50px;
    }
}